@model UsersMedia
@{
    ViewBag.Title = "绑定微信";
    ViewBag.MenuIndex = 5;
    bool isOrderDownNotify = ViewBag.isOrderDownNotify;
    bool isPayNotify = ViewBag.isPayNotify;
    bool isTakeNotify = ViewBag.isTakeNotify;
}
@section footJs{
    <script>
        var unbind = function () {
            window.location.href = "@Url.Action("WxUnBind")";
        };
        var change=function (t) {
            $.ajax({
                url: '@Url.Action("ChangeNotify")',
                type: "Post",
                data: { type: t },
                success: function (result) {
                    
                }
            });
        };
    </script>
}
<div class="wrapper wrapper-content">
    <div class="box-set">
        <div class="col-lg-12 ibox">
            <ol class="breadcrumb tab-list">
                <li>
                    <a href="@Url.Action("Index")">拓展功能</a>
                </li>
                <li>
                    <a>绑定微信</a>
                </li>
            </ol>
        </div>

        @if (Model != null)
        {
            <div class="row">
                <div class="col-sm-10">
                    <div class="list-info">
                        <h2>已绑定微信，开始玩转微信生态</h2>
                        <ul>
                            <li><i>微信昵称：</i>@Model.UserName</li>
                        </ul>
                        <div class="start clearfix">
                            <div class="title">消息提醒：</div>

                            <div class="list">
                                <div class="one">
                                    <p>下单通知</p>
                                    <em>买家提交订单后</em>
                                    <div class="toggle-button-wrapper">
                                        <input type="checkbox" id="toggle-button" name="switch" onclick="change('@TemplateType.UserOrderDown')">
                                        <label for="toggle-button" class="button-label @(isOrderDownNotify?"green":"grey")">
                                            <span class="circle"></span>
                                            @if (isOrderDownNotify)
                                            {
                                                <span class="text on">已开通</span>
                                                <span class="text off">未启用</span>
                                            }
                                            else
                                            {
                                                <span class="text on">未启用</span>
                                                <span class="text off">已开通</span>
                                            }
                                        </label>
                                    </div>
                                </div>


                                <div class="one">
                                    <p>支付通知</p>
                                    <em>买家付款后立即发送</em>
                                    <div class="toggle-button-wrapper">
                                        <input type="checkbox" id="toggle-btn" name="switch" onclick="change('@TemplateType.UserPay')">
                                        <label for="toggle-btn" class="button-label @(isPayNotify?"green":"grey")">
                                            <span class="circle"></span>
                                            @if (isPayNotify)
                                            {
                                                <span class="text on">已开通</span>
                                                <span class="text off">未启用</span>
                                            }
                                            else
                                            {
                                                <span class="text on">未启用</span>
                                                <span class="text off">已开通</span>
                                            }
                                        </label>
                                    </div>
                                </div>

                                <div class="one">
                                    <p>签收通知</p>
                                    <em>包裹被买家签收后</em>
                                    <div class="toggle-button-wrapper">
                                        <input type="checkbox" id="toggle-btns" name="switch" onclick="change('@TemplateType.UserTake')">
                                        <label for="toggle-btns" class="button-label @(isTakeNotify?"green":"grey")">
                                            <span class="circle"></span>
                                            @if (isTakeNotify)
                                            {
                                                <span class="text on">已开通</span>
                                                <span class="text off">未启用</span>
                                            }
                                            else
                                            {
                                                <span class="text on">未启用</span>
                                                <span class="text off">已开通</span>
                                            }
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="btn-wechat"><button class="black" onclick="unbind()">取消绑定</button>
                        </div>
                    </div>

                    <div class="list-tip">
                        <span>温馨提示：</span>
                        <p>· 一个微信号只能和一个商户后台绑定</p>
                        <p>· 取消绑定之后，不会收到消息提醒</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-sm-10">
                    <div class="list-info">
                        <h1>绑定微信，把商户系统和微信打通</h1>
                        <span>绑定后即可在微信接收交易和物流相关的提醒消息</span>
                        <div class="pic"><a href="javascript:"><img src="/Res/shop/img/ewm296x296.jpg" alt=""></a></div>
                        <p>使用商户系统绑定的管理个人微信号扫描</p>
                    </div>

                    <div class="list-tip">
                        <span>温馨提示：</span>
                        <p>·  一个微信号只能和一个商户后台绑定</p>
                        <p>· 请关注北琳公众号之后，进行小程序-绑定操作即可</p>
                    </div>
                </div>
            </div>
        }




    </div>


</div>

