@model Steven.Web.Areas.Admin.Models.AdminUserModel
@{
    ViewBag.Title = "编辑管理员信息";
}
@section headCss{
    <!-- 选择美化 -->
    <link href="/Res/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/Res/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <!-- Ladda style -->
    <link href="/Res/admin/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    @Styles.Render("~/bundles/jQuery-File-Upload-css")
}
@section footJs{
    <!-- Jquery Validate -->
    <script src="/Res/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Res/admin/js/plugins/validate/messages_cn.js"></script>
    <!-- iCheck -->
    <script src="/Res/admin/js/plugins/iCheck/icheck.min.js"></script>
    <!--上传插件-->
    @Scripts.Render("~/bundles/jQuery-File-Upload")
    <!-- Ladda -->
    <script src="/Res/admin/js/plugins/ladda/spin.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.jquery.min.js"></script>
    <script src="~/Res/admin/js/CommonSubmit.js"></script>
    <script>
        var rules = {
            LoginName: {
                required: true,
                rangelength: [2, 50]
            },
            RealName: {
                required: true,
                rangelength: [2, 50]
            }
        };
        commonSubmit('@Url.Action("Edit")', '@ViewBag.ReUrl', 'saveForm', 'btnSave', rules);

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.Title</h5>
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    <a class="close-link"> <i class="fa fa-times"></i> </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" id="saveForm">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label class="col-sm-2 control-label">登录名：</label>
                        <div class="col-sm-10">
                            <input type="text" name="LoginName" value="@Model.LoginName" class="form-control"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    @if (Model.Id == 0)
                    {
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码：</label>
                            <div class="col-sm-10">
                                <input type="password" name="Password" value="@Model.Password" class="form-control" required minlength="6" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    }
                    <div class="form-group">
                        <label class="col-sm-2 control-label">真实姓名：</label>
                        <div class="col-sm-10">
                            <input type="text" name="RealName" value="@Model.RealName" class="form-control"  />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别：</label>
                        <div class="col-sm-10">
                            @Html.RadioButtonList("Gender", Gender.Female.GetSList(), Model.Gender)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态：</label>
                        <div class="col-sm-10">
                            @Html.RadioButtonList("CommonStatus", CommonStatus.Enabled.GetSList(), Model.CommonStatus)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">头像：</label>
                        <div class="col-sm-4">
                            @UploadHelper.SingleUpload(this,TableSource.Users,"btnUpload","imgThum","HeadImageId",Model.HeadImageId)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <a class="btn btn-white" href="@ViewBag.ReUrl">返回</a>
                            <button class="btn btn-primary" type="button" id="btnSave">保存</button>
                            <div class="bg-danger p-xs b-r-sm" id="divError" hidden></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>