@model ShopOrder
<ul class="tip-top">
    <li><span>订单号:</span>  @Model.Code</li>
    <li><span>下单时间:</span>  @Model.CreateTime.ToDisplayDateTime()</li>

</ul>
<div class="row-a">
    <ul class="tip-main">
        @foreach (var pro in Model.Products)
        {
            <li>
                <div class="pic">
                    <img src="@pro.ProductPic" alt="">
                </div>
                <div class="text">
                    <p>@pro.ProductName</p>
                    <span>￥@pro.Price</span>
                    <em>x@(pro.Number)</em>
                </div>
            </li>
        }
    </ul>

    <div class="remark-meg">
        <div class="top">
            <i>一共@(Model.TotalProNum)件商品</i>
            <span>合计：<a>￥@Model.TotalPrice</a></span>
        </div>
        <div class="bottom">
            <i>备注：</i><span>
                @Model.LeaveMsg
            </span>
        </div>
    </div>


</div>