@model OrderIndexModel
@{
    ViewBag.Title = "订单管理";
    ViewBag.MenuIndex = 2;
    var orderStatusList = OrderStatus.Completed.GetDescriptDict(OrderStatus.UnPay
        , OrderStatus.Waiting
        , OrderStatus.ShipmentPending
        , OrderStatus.Consign
        , OrderStatus.Completed
        , OrderStatus.Closed);
    if (Model.Type == BuyType.Arrival)
    {
        orderStatusList = OrderStatus.Completed.GetDescriptDict(OrderStatus.UnPay
        , OrderStatus.Paid
        , OrderStatus.Completed
        , OrderStatus.Closed);
    }
}
@section headCss{
    @Styles.Render("~/Res/admin/font-awesome/css/font-bundle", "~/bundles/ladda-css")
}
@section footJs{
    @Scripts.Render("~/shop/pagination", "~/bundles/common", "~/bundles/datepiker", "~/bundles/footable",
        "~/bundles/ladda-js",
        "~/Res/admin/js/plugins/validate/validate-bundle",
        "~/bundles/submit-js", "~/shop/clipboard")
    <script>

        $(document).ready(function () {

            $('.footable').footable();

            $('#startTime').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
            $('#endTime').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
        });

        var limit = 10;
        var currPage = 1;
        var lstUrl = '@Url.Action("_OrderList")';
        var total = 1;
        var loadPager = function () {
            var offset = (currPage - 1) * limit;
            if (offset > total) {
                showMsg('没有更多数据了！');
                return;
            }
            var url = lstUrl + "?offset=" + offset + "&limit=" + limit
                + "&status=@Model.CurrStatus";

            var query = [];
            getTextValue(query, 't', 't');
            getTextValue(query, 'keyWord', 'keyWord');
            getTextValue(query, 'startTime', 'startTime');
            getTextValue(query, 'endTime', 'endTime');
            if (query.length > 0) {
                url += '&' + query.join('&');
            }
            $("#lstOrder").load(url, function () {
                //判断当前数据

            });
            delete query;
            query = null;
        };
        loadPager();
        var reset = function () {
            $('#keyWord').val('');
            $('#startTime').val('');
            $('#endTime').val('');
            loadPager();
        }
        var setTime = function (value) {
            var d = new Date();
            var n = new Date(d.getTime() - 86400000 * value);
            var date = n.getFullYear() + "-" + (n.getMonth() + 1) + "-" + n.getDate();
            var nowdate = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
            $('#startTime').val(date);
            $('#endTime').val(nowdate);
            loadPager();
        };
        var showModal = function (id, title, callBack) {
            var $modal = $('#' + id);
            $modal.find('.btn-sure-a').unbind("click");
            $modal.find('.btn-sure-a').click(callBack);
            $modal.find('.info-sure').text(title);
            $modal.modal('show');
        };

        var hideModal = function (id) {
            $('#' + id).modal('hide');
        };

        var rulesValidCode = {
            ValidCode: {
                required: true,
                number: true,
                maxlength: 8
            }
        };

        var id, act;
        var action = function (t) {
            var d = $(t);
            id = d.attr('data-id');
            act = d.attr('data-act');
            var actStr = d.val();
            if (act == '@ShopOrder.OrderShopAction.Valid') {
                $("#modalValidCode .error,#modalValidCode .glyphicon").remove();//清除验证标签
                $('#txtValidCode').val('');
                $('#ValidCodeOrderId').val(id);
                showModal('modalValidCode', '', callValidCodeBack);
            }
            else if (act == '@ShopOrder.OrderShopAction.Sended') {
                $('#DeliveryType').val('');
                $("#DeliveryType").change();
                $('#DeliveryTypeOrderId').val(id);
                showModal('modalDeliveryType', '', callDeliveryTypeBack);
            }
            else if (act == '@ShopOrder.OrderShopAction.DeliveryType') {
                DeliveryTypeInfo();
            }
            else {
                showConfirm('确定该订单' + actStr + '吗？', callBack);
            }
        };
        var callBack = function () {
            $.ajax({
                url: '@Url.Action("Action")',
                type: "Post",
                data: { orderId: id, action: act },
                success: function (result) {
                    if (result.code != 1) {
                        //错误
                        showErrorMsg(result.msg);
                        return;
                    }
                    showSuccMsg(result.msg);
                    hideConfim();
                    loadPager();
                    pendOrderCount();
                    waitOrderCount();
                }
            });
        };
        var callValidCodeBack = function () {
            callBackSubmitNotClick('@Url.Action("ValidCode")', 'validCodeForm', 'btnValidCode', rulesValidCode, validCodeBack);
        }
        var validCodeBack = function (result) {
            if (result.code != 1) {
                showErrorMsg(result.msg);
                return;
            }
            showSuccMsg(result.msg);
            hideModal('modalValidCode');
            loadPager();
        }

        //验证订单
        var validBack = function (result) {
            if (result.code != 1) {
                showErrorMsg(result.msg);
                return;
            }
            var url = '@Url.Action("_ValidOrder")' + "?orderId=" + result.data;
            $("#modalValidOrderPro").load(url, function () {
                //判断当前数据

            });
            $('#ValidCodeOrderId').val(result.data);
            showModal('modalValidOrder', '', callValidOrderBack);
        }

        callBackSubmit('@Url.Action("ValidOrder")', 'validForm', 'btnValid', rulesValidCode, validBack);

        var callValidOrderBack = function () {
            $.ajax({
                url: '@Url.Action("ValidCode")',
                type: "Post",
                data: { validCodeOrderId: $('#ValidCodeOrderId').val(), validCode: $('#txtValid').val() },
                success: function (result) {
                    if (result.code != 1) {
                        //错误
                        showErrorMsg(result.msg);
                        return;
                    }
                    showSuccMsg(result.msg);
                    hideModal('modalValidOrder');
                    loadPager();
                }
            });
        };

        //发货（配送信息）
        $("#DeliveryType").change(function () {
            var t = $(this).val();
            if (t == '@DeliveryType.Express') {
                var html = $('#divExpress').clone().removeAttr('hidden').removeAttr('id');
                $('#modalDeliveryType .row-a').append(html);
            } else {
                $('#modalDeliveryType .divExpress').remove();
            }
        });

        var rulesDeliveryType = {
            DeliveryType: {
                required: true
            }
        };
        var callDeliveryTypeBack = function () {
            callBackSubmitNotClick('@Url.Action("OrderSended")', 'deliveryTypeForm', 'btnDeliveryType', rulesDeliveryType, deliveryTypeBack);
        };
        var deliveryTypeBack = function (result) {
            if (result.code != 1) {
                showErrorMsg(result.msg);
                return;
            }
            showSuccMsg(result.msg);
            hideModal('modalDeliveryType');
            loadPager();
        };
        var ExpressChange = function (t) {
            var text = $(t).find("option:selected").text();
            $('#ExpressName').val(text);
        };

        //配送信息
        var DeliveryTypeInfo = function () {
            $.ajax({
                url: '@Url.Action("Action")',
                type: "Post",
                data: { orderId: id, action: act },
                success: function (result) {
                    if (result.code != 1) {
                        //错误
                        showErrorMsg(result.msg);
                        return;
                    }
                    $('.DeliveryType').html(result.data.DeliveryTypeName);
                    if (result.data.DeliveryType == '@((int)DeliveryType.Express)') {
                        $('.li_ExpressName').show();
                        $('.li_ExpressCode').show();
                        $('.btnCopyExpressCode').show();
                        $('.ExpressName').html(result.data.ExpressName);
                        $('.ExpressCode').html(result.data.ExpressCode);
                    } else {
                        $('.li_ExpressName').hide();
                        $('.li_ExpressCode').hide();
                        $('.btnCopyExpressCode').hide();
                    }
                    showModal('modalDeliveryTypeInfo');
                }
            });
        };
        
        var clipboard = new Clipboard('.btnCopyExpressCode');
        clipboard.on('success', function (e) {
            alert("复制快递单号成功！");
        });
        clipboard.on('error', function (e) {
            alert("复制快递单号失败！请手动复制");
        });


        var search = function () {
            var startTime = $('#startTime').val();
            var endTime = $('#endTime').val();
            if (startTime && !endTime) {
                $('#endTimeValid').show();
                return;
            } else if (!startTime && endTime) {
                $('#startTimeValid').show();
                return;
            } else if (startTime && endTime) {
                var start = new Date(startTime.replace("-", "/").replace("-", "/"));
                var end = new Date(endTime.replace("-", "/").replace("-", "/"));
                if (end < start) {
                    $('#startTimeValid').show();
                    $('#startTimeValidSpan').html('开始时间不能大于结束时间！');
                    return;
                }
            }
            $('#startTimeValid').hide();
            $('#startTimeValidSpan').html('请选择时间！');
            $('#endTimeValid').hide();
            loadPager();
        }
    </script>
}
@section modal
{
    <!--验证弹框-->
    <div class="modal inmodal in" id="modalValidCode">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="validCodeForm" method="post">
                        <h1 class="title-tip">
                            提示<img data-dismiss="modal" src="/Res/shop/img/icon-close-g.png" alt="">
                        </h1>

                        <div class="row-up">
                            <div class="row-a">
                                <div class="title">验证码</div>
                                <div class="info-a">
                                    @Html.Hidden("ValidCodeOrderId")
                                    <input type="text" id="txtValidCode" class="form-control" name="ValidCode" placeholder="请输入验证码">
                                </div>
                            </div>
                        </div>
                        <div class="btn-sure mt20">
                            <button id="btnValidCode" class="btn-sure-a ladda-button" data-style="expand-right"><span class="ladda-label">确定</span><span class="ladda-spinner"></span></button>
                        </div>
                        <div class="cancel">
                            <button data-dismiss="modal" class="btn-cancel-a">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal in" id="modalValidOrder">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post">

                        <div class="row-up" id="modalValidOrderPro">



                        </div>
                        <div class="btn-sure mt20">
                            <button class="btn-sure-a ladda-button" data-style="expand-right"><span class="ladda-label">确定</span><span class="ladda-spinner"></span></button>
                        </div>
                        <div class="cancel">
                            <button data-dismiss="modal" class="btn-cancel-a">取消</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--快递配送-->
    <div class="modal inmodal in" id="modalDeliveryType">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="deliveryTypeForm" method="post">
                        @Html.AntiForgeryToken()
                        <h1 class="title-tip">
                            提示<img data-dismiss="modal" src="/Res/shop/img/icon-close-g.png" alt="">
                        </h1>

                        <div class="row-up">
                            <div class="row-a">
                                <div class="info-a">
                                    @Html.DropDownList("DeliveryType", DeliveryType.Shop.GetSList(DeliveryType.Shop, DeliveryType.Express), "请选择配送方式", new { @class = "form-control wall" })
                                </div>
                            </div>

                        </div>
                        <div class="btn-sure mt20">
                            @Html.Hidden("DeliveryTypeOrderId")
                            @Html.Hidden("ExpressName")
                            <button class="btn-sure-a ladda-button" data-style="expand-right" id="btnDeliveryType"><span class="ladda-label">确定</span><span class="ladda-spinner"></span></button>
                        </div>
                        <div class="cancel">
                            <button data-dismiss="modal" class="btn-cancel-a">取消</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>




    <!--快递信息-->
    <div class="modal inmodal in" id="modalDeliveryTypeInfo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 class="title-tip">
                        提示<img data-dismiss="modal" src="/Res/shop/img/icon-close-g.png" alt="">
                    </h1>

                    <div class="row-up">
                        <div class="row-a">
                            <ul class="info-megs">
                                <li><a>配送方式：</a><span class="DeliveryType"></span></li>
                                <li class="li_ExpressName"><a>快递公司：</a><span class="ExpressName"></span></li>
                                <li class="li_ExpressCode"><a>快递单号：</a><span class="ExpressCode"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-sure mt20">
                        <button class="btn-sure-a ladda-button btnCopyExpressCode" data-style="expand-right" data-clipboard-action="copy" data-clipboard-target=".ExpressCode"><span class="ladda-label">复制快递单号</span><span class="ladda-spinner"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<!--头部菜单-->
<div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom order-title">
        <ul class="title-list clearfix">
            @foreach (var item in Model.TypeList)
            {
                <li><a href="@Url.Action("Index", new {t = item.Type})" @(Model.Type == item.Type ? "class=cur" : "")>@(item.Type.GetDescriotion() + "订单")</a></li>
            }
        </ul>
        @if (Model.Type == BuyType.Arrival)
        {
            <form id="validForm" method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-3 order-list">
                        <div class="form-group">
                            <input type="text" id="txtValid" name="ValidCode" value="" placeholder="请输入验证码" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-1 order-list">
                        <button class="btn btn-success w100" id="btnValid">验证</button>
                    </div>
                </div>
            </form>
        }

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="收货人姓名，电话或订单号" id="keyWord" value="@Model.KeyWord">
                </div>
            </div>
            <div class="col-sm-3 order-list">
                <div class="form-group">
                    <div class="input-group date">
                        <input id="startTime" value="@Model.CurrStartTime" type="text" class="form-control" placeholder="请选择时间">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    <span class="field-validation-error" data-valmsg-for="startTime" data-valmsg-replace="true" id="startTimeValid" style="display: none;"><span for="startTime" generated="true" class="" id="startTimeValidSpan">请选择时间！</span></span>
                </div>
            </div>
            <div class="col-sm-3 order-list">
                <div class="form-group">
                    <div class="input-group date">
                        <input id="endTime" value="@Model.CurrEndTime" type="text" class="form-control" placeholder="请选择时间">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    <span class="field-validation-error" data-valmsg-for="endTime" data-valmsg-replace="true" id="endTimeValid" style="display: none;"><span for="endTime" generated="true" class="">请选择时间！</span></span>
                </div>
            </div>
            <div class="col-sm-1 order-list">
                <div class="form-group">
                    <button class="btn btn-w-m btn-default btn-block" onclick="javascript: setTime(7);">近7天</button>
                </div>
            </div>
            <div class="col-sm-1 order-list">
                <div class="form-group">
                    <button class="btn btn-w-m btn-default btn-block" onclick="javascript: setTime(30);">近30天</button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.Hidden("t", Model.Type)
                    <button class="btn btn-success w200 h40" onclick="javascript: search();">搜索</button>
                    <input type="reset" value="重置" class="btn btn-default w200 h40 tel-search" onclick="javascript: reset();" />
                </div>
            </div>
        </div>
    </div>

    <!--头部菜单 end-->
    <!--内容-->
    <div class="box-a  sk-loading">

        <!--订单管理-->
        <div class="group-a">

            <div class="title-order">
                <ul class="clearfix">
                    <li><a href="@Url.Action("Index", new {t = Model.Type})" class="@(!Model.CurrStatus.HasValue ? "cur" : "")">全部</a></li>
                    @foreach (var s in orderStatusList)
                    {
                        <li><a href="@Url.Action("Index", new {t = Model.Type, status = s.Key})" class="@(Model.CurrStatus.HasValue && (short) Model.CurrStatus.Value == s.Key ? "cur" : "")">@s.Value</a></li>
                    }

                </ul>
            </div>
            @if (Model.IsHaveOrder)
            {
                <div id="lstOrder"></div>

                <!--翻页-->
                <div class="box-page">
                    <div id="pagination" class="page"></div>
                </div>
            }
            else
            {
                <div class="no-goods">
                    <p>还没有订单哦~</p>
                </div>
            }
            <div class="no-goods" style="display: none;">
                <p>还没有订单哦~</p>
            </div>


        </div>
        <!--订单管理end-->

    </div>
    <!--内容end-->
</div>
<div class="divExpress" hidden id="divExpress">
    <div class="row-a">
        <div class="info-a">
            <select class="form-control wall" required name="ExpressId" onchange="javascript: ExpressChange(this);">
                <option value="">请选择快递公司</option>
                @foreach (var item  in Model.ExpressList)
                {
                    @:<option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>


    <div class="row-a">
        <div class="info-a">
            <input type="text" class="form-control" required maxLength="100" name="ExpressCode" placeholder="请输入快递单号">
        </div>
    </div>
</div>