@{
    var configRep = DependencyResolver.Current.GetService<ISysConfigRepository>();
    var title = ViewBag.Title + "_商户系统_" + configRep.WebSiteName;
    ShopUser user = ViewBag.CurrUser;

    var msg = (string)TempData["msg"];
    var msgType = (string)TempData["msgType"];

    int menuIndex = ViewBag.MenuIndex ?? 0;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="Keywords" content="商户系统">
    <meta name="description" content="商户系统">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@title</title>
    <link href="/Res/shop/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Res/shop/css/shop-layout-css")
    <script src="/Res/admin/js/jquery-3.1.1.min.js"></script>
    @RenderSection("headCss", required: false)
</head>


<body class="no-skin-config">
    <div id="wrapper">

        <!-- 菜单 -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <div class="left-nav">
                    <div class="top">
                        <div class="bg">
                            <img id="imgComBg" src="@Url.ThumbUrl(user.UserModel.BgAttaId, 220, 80, "/Res/shop/img/com-bg.jpg")" alt="">
                        </div>
                        <div class="logo">
                            <img id="imgLogo" src="@Url.ThumbUrl(user.UserModel.LogoAttaId, 60, 60, "/Res/shop/img/logo.jpg")" alt="">
                        </div>
                        <div class="info">
                            <h1 class="shopname">@user.UserModel.Name</h1>
                            <p>@user.UserModel.KefuPhone</p>
                            <div class="up">
                                <img src="/Res/shop/img/icon-up.png" alt="">
                            </div>
                        </div>
                    </div>

                    <ul class="nav metismenu" id="side-menu">
                        <!-- item -->
                        <li @(menuIndex == 0 ? "class=active" : "")><a href="@Url.Action("Index", "Home")"><span class="nav-label">店铺概况</span></a></li>
                        <!-- item -->
                        <!-- item -->
                        <li @(menuIndex == 1 ? "class=active" : "")><a href="@Url.Action("Index", "Product")"><span class="nav-label">商品管理</span></a></li>
                        <!-- item -->
                        <li @(menuIndex == 2 ? "class=active" : "")><a href="@Url.Action("Index", "Order")"><span class="nav-label">订单管理</span></a></li>
                        <li @(menuIndex == 3 ? "class=active" : "")><a href="@Url.Action("Index", "ShopFitting")"><span class="nav-label">店铺装修</span></a></li>
                        <li @(menuIndex == 5 ? "class=active" : "")><a href="@Url.Action("Index", "Common")"><span class="nav-label">通用</span></a></li>
                        <li @(menuIndex == 4 ? "class=active" : "")><a href="@Url.Action("Setting", "Home")"><span class="nav-label">设置</span></a></li>
                    </ul>

                    <div class="out">
                        <a href="@Url.ShopLogout()">安全退出</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- 菜单 end -->

        <div id="page-wrapper" class="gray-bg">

            <!-- 顶部栏 -->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2" href="javascript:;"></a>

                    </div>
                    <ul class="nav navbar-top-links navbar-right tel-nav">

                        <!-- 待接单 -->
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info tel-order" href="@Url.Action("Index","Order",new { t=BuyType.Delivery, status= OrderStatus.Waiting })">
                                <img src="/Res/shop/img/icon-2.png" alt=""><em>待接单</em><span class="label label-danger" id="waitOrderCount">0</span>
                            </a>
                        </li>
                        <!-- 待接单 end -->
                        <!-- 代发货 -->
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info tel-order" href="@Url.Action("Index","Order",new { t=BuyType.Delivery,status= OrderStatus.ShipmentPending })"> <img src="/Res/shop/img/icon-3.png" alt=""><em>待发货</em><span class="label label-danger" id="pendOrderCount">0</span> </a>
                        </li>
                        <!-- 代发货 -->
                    </ul>
                </nav>
            </div>
            <!-- 顶部栏 end -->
            <!-- 主体 -->
            @RenderBody()
            <!-- 主体 end -->
            <!-- 底部信息 -->
            <div class="footer">
                <div class="pull-right">
                    <strong>
                        <span class="shopname">@(user.UserModel.Name)</span>公司内容管理系统
                    </strong>
                </div>
                <div> @configRep.WebSiteCopyRight @configRep.WebSiteICP </div>
            </div>
            <!-- 底部信息 end -->

        </div>
    </div>
    <!--弹框-->
    <div class="modal inmodal" id="modalConfirm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 class="title-tip">提示<img data-dismiss="modal" src="/Res/shop/img/icon-close-g.png" alt=""></h1>
                    <div class="row-up">
                        <div class="info-sure"></div>
                    </div>
                    <div class="btn-sure"><button class="btn-sure-a">确定</button></div>
                    <div class="cancel"><button data-dismiss="modal" class="btn-cancel-a">取消</button></div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("modal", false)

    <script src="/Res/admin/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/shop-layout-js")
    <script>
        var pendOrderCount = function () {
            $.ajax({
                url: '@Url.Action("GetOrderCount","Home")',
                type: "Get",
                data: { status: '@OrderStatus.ShipmentPending' },
                success: function (result) {
                    $('#pendOrderCount').html(result.data);
                }
            });
        };
        var waitOrderCount = function () {
            $.ajax({
                url: '@Url.Action("GetOrderCount","Home")',
                type: "Get",
                data: { status: '@OrderStatus.Waiting' },
                success: function (result) {
                    $('#waitOrderCount').html(result.data);
                }
            });
        };
        var getShopName = function () {
            $.ajax({
                url: '@Url.Action("GetShopName","Home")',
                type: "Get",
                success: function (result) {
                    if (result.data) {
                        $('.shopname').html(result.data);
                    }
                }
            });
        };
        pendOrderCount();
        waitOrderCount();
        getShopName();
        var showMsg = function (msg) {
            swal({
                title: msg,
                timer: 2000,
                showConfirmButton: true
            });
        };

        var showSuccMsg = function (msg) {
            swal({
                title: msg,
                type: "success",
                timer: 2000
            });
        };

        var showErrorMsg = function (msg) {
            swal({
                title: msg,
                type: "error",
                timer: 2000
            });
        };

        var showConfirm = function (title, callBack) {
            var $modal = $('#modalConfirm');
            $modal.find('.btn-sure-a').unbind("click");
            $modal.find('.btn-sure-a').click(callBack);
            $modal.find('.info-sure').text(title);
            $modal.modal('show');
        };

        var hideConfim = function () {
            $('#modalConfirm').modal('hide');
        };
    </script>
    @if (!string.IsNullOrEmpty(msg))
    {

        <script type="text/javascript">
            var msgType = '@msgType';
            if (msgType == 'succ') {
                showSuccMsg('@msg');
            } else {
                showErrorMsg('@msg');
            }
        </script>
    }
    @RenderSection("footJs", false)

</body>
</html>
