@model ShopAppInfoModel
@{
    ViewBag.Title = "编辑商户App信息";
}
@section headCss{
    <!-- Ladda style -->
    <link href="/Res/admin/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
}
@section footJs{
    <!-- Jquery Validate -->
    <script src="/Res/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Res/admin/js/plugins/validate/messages_cn.js"></script>
    <!-- Ladda -->
    <script src="/Res/admin/js/plugins/ladda/spin.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.jquery.min.js"></script>
    
    <script src="~/Res/admin/js/CommonSubmit.js"></script>
    <script>
        
        commonSubmit('@Url.Action("AppInfoEdit")', '@ViewBag.ReUrl', 'saveForm', 'btnSave', null);

    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.Title</h5>
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    <a class="close-link"> <i class="fa fa-times"></i> </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" id="saveForm">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ShopId)
                    <div class="form-group">
                        <label class="col-sm-2 control-label">北琳AppId：</label>
                        <div class="col-sm-10">
                            @Model.BeiLinAppId
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">北琳AppSecrect：</label>
                        <div class="col-sm-10">
                            @Model.BeiLinAppSecrect
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">微信AppId：</label>
                        <div class="col-sm-10">
                            <input type="text" name="WxAppId" value="@Model.WxAppId" class="form-control" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">微信AppSecrect：</label>
                        <div class="col-sm-10">
                            <input type="text" name="WxAppSecrect" value="@Model.WxAppSecrect" class="form-control"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商户AppId：</label>
                        <div class="col-sm-10">
                            <input type="text" name="WxMchId" value="@Model.WxMchId" class="form-control" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商户key：</label>
                        <div class="col-sm-10">
                            <input type="text" name="WxKey" value="@Model.WxKey" class="form-control" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <a class="btn btn-white" href="@ViewBag.ReUrl">返回</a>
                            <button class="btn btn-primary" type="button" id="btnSave">保存</button>
                            <div class="bg-danger p-xs b-r-sm" id="divError" hidden></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>