@model ShopModel
@{
    ViewBag.Title = "编辑商户信息";
}
@section headCss{
    <!-- 选择美化 -->
    <link href="/Res/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/Res/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <!-- Ladda style -->
    <link href="/Res/admin/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    <!-- SUMMERNOTE -->
    <link href="/Res/admin/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/Res/admin/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    @Styles.Render("~/bundles/jQuery-File-Upload-css")
}
@section footJs{
    <!-- SUMMERNOTE -->
    <script src="/Res/admin/js/plugins/summernote/summernote.min.js"></script>
    <script src="~/Res/admin/js/plugins/summernote/local/summernote-zh-CN.js"></script>
    <!-- 自动完成组件 Typehead -->
    <script src="/Res/admin/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>
    <!-- Jquery Validate -->
    <script src="/Res/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Res/admin/js/plugins/validate/messages_cn.js"></script>
    <!-- iCheck -->
    <script src="/Res/admin/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Ladda -->
    <script src="/Res/admin/js/plugins/ladda/spin.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.jquery.min.js"></script>
    <!--上传插件-->
    @Scripts.Render("~/bundles/jQuery-File-Upload")
    <script src="~/Res/admin/js/CommonSubmit.js"></script>
    <script>
        var rules = {
            LoginName: {
                required: true,
                rangelength: [2, 50]
            },
            RealName: {
                required: true,
                rangelength: [2, 50]
            },
            Name: {
                required: true,
                rangelength: [2, 50]
            },
            KefuPhone: {
                required: true,
                rangelength: [2, 50]
            },
            AgentName: {
                required: true
            },
            ProLimitNum: {
                required: true,
                digits: true
            },
            ClsLimitNum: {
                required: true,
                digits: true
            }
        };
        commonSubmit('@Url.Action("Edit")', '@ViewBag.ReUrl', 'saveForm', 'btnSave', rules);

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
        var $agentName = $("#txtAgentName");
        $.get("@Url.Action("GetAgentList")", function (data) {
            $agentName.typeahead({
                source: data,
                autoSelect: true,
                showHintOnFocus: true
            });
        }, 'json');

        $agentName.change(function () {
            var current = $agentName.typeahead("getActive");
            if (current) {
                $('#AgentId').val(current.id);
                $agentName.val(current.name);
            } else {
                $('#AgentId').val(0);
                $agentName.val('');
            }
        });
    </script>
     @*富文本*@
    <script>
        $(document).ready(function () {
            var $ArticleContent = $('#Descript');
            $ArticleContent.summernote({
                height: 200,   //set editable area's height  
                lang: "zh-CN",
                callbacks: {
                    onImageUpload: function (image) {
                        sendFile(image[0]);
                    }
                }
            });

            function sendFile(file) {
                data = new FormData();
                data.append("Filedata", file);
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "@Url.Action("BatchUpload", "Attachment", new { src=TableSource.Article})",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        var image = $('<img>').attr('src', result.imgPathOriginal);
                        $ArticleContent.summernote("insertNode", image[0]);
                        var picTitle = $('<p>').text(file.name);
                        $ArticleContent.summernote("insertNode", picTitle[0]);
                    }
                });
            };
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.Title</h5>
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    <a class="close-link"> <i class="fa fa-times"></i> </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" id="saveForm">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.UserId)
                    <div class="form-group">
                        <label class="col-sm-1 control-label">登录名：</label>
                        <div class="col-sm-5">
                            <input type="text" name="LoginName" value="@Model.LoginName" class="form-control" />
                        </div>
                        @if (Model.Id == 0)
                        {
                            <label class="col-sm-1 control-label">密码：</label>
                                <div class="col-sm-5">
                                    <input type="password" name="Password" value="@Model.Password" class="form-control" required minLength="6" />
                                </div>
                        }
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">联系人：</label>
                        <div class="col-sm-5">
                            <input type="text" name="RealName" value="@Model.RealName" class="form-control" />
                        </div>
                        <label class="col-sm-1 control-label">客服电话：</label>
                        <div class="col-sm-5">
                            <input type="text" name="KefuPhone" value="@Model.KefuPhone" class="form-control" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">商户名称：</label>
                        <div class="col-sm-5">
                            <input type="text" name="Name" value="@Model.Name" class="form-control" />
                        </div>
                        <label class="col-sm-1 control-label">代理：</label>
                        <div class="col-sm-5">
                            <input type="text" name="AgentName" autocomplete="off"  id="txtAgentName" value="@Model.AgentName" class="form-control" />
                            @Html.HiddenFor(m => m.AgentId)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">状态：</label>
                        <div class="col-sm-5">
                            @Html.RadioButtonList("CommonStatus", CommonStatus.Enabled.GetSList(), Model.CommonStatus)
                        </div>
                        <label class="col-sm-1 control-label">开关店：</label>
                        <div class="col-sm-5">
                            @Html.RadioButtonList("Status", ShopStatus.Open.GetSList(), Model.Status)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">商户Logo：</label>
                        <div class="col-sm-3">
                            @UploadHelper.SingleUpload(this, TableSource.Shop, "btnUpload", "imgThum", "LogoAttaId",Model.LogoAttaId)
                        </div>
                        <label class="col-sm-1 control-label">商户背景图：</label>
                        <div class="col-sm-3">
                            @UploadHelper.SingleUpload(this, TableSource.Shop, "btnUploadBg", "imgThumBg", "BgAttaId",Model.BgAttaId)
                        </div>
                        <label class="col-sm-1 control-label">小程序二维码：</label>
                        <div class="col-sm-3">
                            @UploadHelper.SingleUpload(this, TableSource.Shop, "btnUploadQrCode", "imgThumQrCode", "QrCodeAttaId",Model.QrCodeAttaId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">商品上传限制：</label>
                        <div class="col-sm-5">
                            <input type="text" name="ProLimitNum" value="@Model.ProLimitNum" class="form-control" />
                        </div>
                        <label class="col-sm-1 control-label">分组上传限制：</label>
                        <div class="col-sm-5">
                            <input type="text" name="ClsLimitNum" value="@Model.ClsLimitNum" class="form-control" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">描述：</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" name="Descript" id="Descript" placeholder="备注">@Model.Descript</textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <a class="btn btn-white" href="@ViewBag.ReUrl">返回</a>
                            <button class="btn btn-primary" type="button" id="btnSave">保存</button>
                            <div class="bg-danger p-xs b-r-sm" id="divError" hidden></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>