@{
    ViewBag.Title = "商户列表";
}
@section headCss{
    <link href="~/Res/admin/js/plugins/boostrap-table/bootstrap-table.css" rel="stylesheet" />
    <!-- Ladda style -->
    <link href="/Res/admin/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    <!-- 选择美化 -->
    <link href="/Res/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/Res/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

}
@section footJs{
   <!-- 自动完成组件 Typehead -->
    <script src="/Res/admin/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>
    <!-- iCheck -->
    <script src="/Res/admin/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Ladda -->
    <script src="/Res/admin/js/plugins/ladda/spin.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.jquery.min.js"></script>
    <script src="~/Res/admin/js/plugins/boostrap-table/bootstrap-table.js"></script>
    <script src="~/Res/admin/js/plugins/boostrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/Res/admin/js/datefommater.js"></script>
    @BoostrapTableHelper.InitTable("datatable", Url.Action("GetList"))
    @BatchDeleteHelper.InitBatchDele(this, TableSource.Shop, "datatable",Url.Action("BatchDele"))
    <script src="@Url.Action("CommonStatusFormatter","Utility")"></script>

    @*列表，编辑*@
    <script>
        var searchQuery = function (params) {
            var q = $('#txtKeyword').val();
            if (q) {
                params.keyword = q;
            }
            var agentId = $("#hdAgentId").val();
            if (agentId) {
                params.agentId = agentId;
            }
            return params;
        };

        $('#btnSearch').click(function () {
            $('#datatable').bootstrapTable('refreshOptions', {
                pageNumber: 1
            });
        });

        var editUrl = '@Url.Action("Edit")';
        var doEdit = function (id) {
            window.location = editUrl + '?id=' + id + '&reUrl=' + encodeURIComponent(window.location);
        };

        $('#btnAdd').click(function () {
            doEdit(0);
        });

        var appUrl = '@Url.Action("AppInfoEdit")';

        var doAppInfoEdit = function (id) {
            window.location = appUrl + '?shopId=' + id + '&reUrl=' + encodeURIComponent(window.location);
        };

        var proClsUrl = '@Url.Action("ProductClassifyList")';
        var doProCls = function (id) {
            window.location = proClsUrl + '?shopId=' + id + '&reUrl=' + encodeURIComponent(window.location);
        };

        var templateUrl = '@Url.Action("Template")';
        var doTemplate = function (id) {
            window.location = templateUrl + '?shopId=' + id + '&reUrl=' + encodeURIComponent(window.location);
        };

        function editFormatter(value, row) {
            var html = '<button class="btn-white btn  btn-xs" onClick="doEdit(' + value + ')"><i class="fa fa-edit"></i> 编辑</button>';
            html += '<button class="btn-white btn  btn-xs" onClick="doAppInfoEdit(' + value + ')"><i class="fa fa-weixin"></i> App编辑</button>';
            html += '<button class="btn-white btn  btn-xs" onClick="doProCls(' + value + ')"><i class="fa fa-bars"></i> 分类管理</button>';
            html += '<button class="btn-white btn  btn-xs" onClick="doTemplate(' + value + ')"><i class="fa fa-bars"></i> 模板通知管理</button>';
            return html;
        };

        var $agentName = $("#txtAgentName");
        $.get("@Url.Action("GetAgentList")", function (data) {
            $agentName.typeahead({
                source: data,
                autoSelect: true,
                showHintOnFocus: true
            });
        }, 'json');

        $agentName.change(function () {
            var current = $agentName.typeahead("getActive");
            if (current) {
                if (current.name == $agentName.val()) {
                    $('#hdAgentId').val(current.id);
                } else {
                    $('#hdAgentId').val('');
                }
            } else {
                $('#hdAgentId').val('');
            }
        });

    </script>

}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.Title</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row" id="toolBar">
                    <div class="col-lg-2">
                        <label for="" class="">关键字</label>
                        <input type="text" class="form-control" placeholder="请输入标题" id="txtKeyword" name="keyword">
                    </div>
                    <div class="col-lg-2">
                        <label for="" class="">代理</label>
                        <input type="hidden" id="hdAgentId" />
                        <input type="text" class="form-control" autocomplete="off"  placeholder="请输入代理名称" id="txtAgentName">
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-primary mt20" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>
                    </div>

                </div>
                <hr class="hr-line-dashed">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-w-m btn-primary" id="btnAdd">新建</button>
                        <button type="button" onclick="doBathDele()" class="btn btn-w-m btn-danger">批量删除</button>
                    </div>
                </div>
                <div class="row">
                    <div class="jqGrid_wrapper">
                        <table id="datatable">
                            <thead>
                                <tr>
                                    <th data-checkbox="true"></th>
                                    <th data-field="LoginName" data-sortable="true">用户名</th>
                                    <th data-field="RealName" data-sortable="true">联系人</th>
                                    <th data-field="KefuPhone" data-sortable="true">客服电话</th>
                                    <th data-field="Name" data-sortable="true">公司名称</th>
                                    <th data-field="AgentName" data-sortable="true">代理</th>
                                    <th data-field="CommonStatus" data-sortable="true" data-formatter="CommonStatusFormatter">状态</th>
                                    <th data-field="UpdateTime" data-sortable="true" data-formatter="dateTimeFormatter">更新时间</th>
                                    <th data-field="Id" data-formatter="editFormatter">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>