@model ProductModel
@{
    ViewBag.Title = "编辑商品信息";
    long[] picIdArr = null;
    if (!string.IsNullOrEmpty(Model.PicAttIds))
    {
        picIdArr = StringUtility.ConvertToBigIntArray(Model.PicAttIds, ',');
    }
    else
    {
        picIdArr = new long[0];
    }


}
@section headCss{
    <!-- 选择美化 -->
    <link href="/Res/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/Res/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <!-- Ladda style -->
    <link href="/Res/admin/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
     <!-- SUMMERNOTE -->
    <link href="/Res/admin/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/Res/admin/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    @Styles.Render("~/bundles/jQuery-File-Upload-css")
}
@section footJs{
    <!-- SUMMERNOTE -->
    <script src="/Res/admin/js/plugins/summernote/summernote.min.js"></script>
    <script src="~/Res/admin/js/plugins/summernote/local/summernote-zh-CN.js"></script>
    <!-- 自动完成组件 Typehead -->
    <script src="/Res/admin/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>
    <!-- Jquery Validate -->
    <script src="/Res/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Res/admin/js/plugins/validate/messages_cn.js"></script>
    <!-- iCheck -->
    <script src="/Res/admin/js/plugins/iCheck/icheck.min.js"></script>
    <!--上传插件-->
    @Scripts.Render("~/bundles/jQuery-File-Upload")
    <!-- Ladda -->
    <script src="/Res/admin/js/plugins/ladda/spin.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.min.js"></script>
    <script src="/Res/admin/js/plugins/ladda/ladda.jquery.min.js"></script>

    <script src="~/Res/admin/js/CommonSubmit.js"></script>
    <script>
        var rules = {
            Title: {
                required: true,
                rangelength: [2, 50]
            },
            Unit: {
                required: true,
                rangelength: [1, 3]
            },
            Stock: {
                required: true,
                digits: true
            },
            OldPrice: {
                required: true,
                number: true
            },
            Price: {
                required: true,
                number: true
            },
            ShopName: {
                required: true
            },
            ProductClassifyName: {
                required: true
            },
            Sort: {
                required: true,
                digits: true
            }
        };
        var preSubmit = function () {
            doSetSpecsJson();
            var picIds = $('#PicAttIds').val();
            if (!picIds) {
                showErrorMsg('图片不能为空！');
                return false;
            }
            return true;
        };
        commonSubmit('@Url.Action("Edit")', '@ViewBag.ReUrl', 'saveForm', 'btnSave', rules, preSubmit);

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
        var $shopName = $("#txtShopName");
        $.get("@Url.Action("GetShopList")", function (data) {
            $shopName.typeahead({
                source: data,
                autoSelect: true,
                showHintOnFocus: true
            });
        }, 'json');

        var $productClassifyName = $('#txtProductClassifyName');
        $shopName.change(function () {
            var current = $shopName.typeahead("getActive");
            $('#ProductClassifyId').val(0);
            $productClassifyName.val('');
            if (current) {
                $('#ShopId').val(current.id);
                $shopName.val(current.name);
                //loadProductClassify(current.id);
            } else {
                $('#ShopId').val(0);
                $shopName.val('');
                $productClassifyName.typeahead({
                    source: [],
                    autoSelect: true
                });
            }
        });

        $productClassifyName.typeahead({
            source: function (query, process) {
                var parameter = { shopId: $('#ShopId').val() };
                $.get('@Url.Action("GetProductClassifyList")', parameter, function (data) {
                    process(data);
                });
            },
            autoSelect: true,
            showHintOnFocus: true
        });

        $productClassifyName.change(function () {
            var current = $productClassifyName.typeahead("getActive");
            if (current) {
                $('#ProductClassifyId').val(current.id);
                $productClassifyName.val(current.name);

            } else {
                $('#ProductClassifyId').val(0);
                $productClassifyName.val('');
            }
        });
    </script>
    @*规格管理*@
    <script>

        var doSetSpecsJson = function() {
            var specsArr = [];
            $('#specsList .row').each(function(index, ele) {
                var Name = $(ele).find('.SpecsName').val();
                var SpecsValue = $(ele).find('.SpecsValue').val();
                specsArr.push({ Name: Name, SpecsValue: SpecsValue });
            });
            $('#SpecsJson').val(JSON.stringify(specsArr));
            delete specsArr;
            specsArr = null;
        };

        $('.removeSpecs').on('click', function() {
            $(this).parents('.pt10').remove();
        });

        $('#btnAdd').click(function() {
            var html = $('#divSpecsTemplate').clone().removeAttr('hidden').removeAttr('id');
            $('#specsList').append(html);
        });
    </script>
    @*富文本*@
    <script>
            $(document).ready(function () {
                var $ArticleContent = $('#Descript');
                $ArticleContent.summernote({
                    height: 200,   //set editable area's height
                    lang: "zh-CN",
                    callbacks: {
                        onImageUpload: function (image) {
                            sendFile(image[0]);
                        }
                    }
                });

                function sendFile(file) {
                    data = new FormData();
                    data.append("Filedata", file);
                    $.ajax({
                        data: data,
                        type: "POST",
                        url: "@Url.Action("BatchUpload", "Attachment",new { src=TableSource.Product })",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            var image = $('<img>').attr('src', result.imgPathOriginal);
                            $ArticleContent.summernote("insertNode", image[0]);
                        }
                    });
                };
            });
    </script>
    @*上传图片*@
    <script>
            $('#btnAddFile').fileupload({
                url: '@Html.Raw(Url.Action("BatchUpload", "Attachment", new { src=TableSource.Product}))',
                dataType: 'json',
                add: function (e, data) {
                    //判断文件类型
                    var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                    //文件类型判断
                    if (data.files[0]['type'].length && !acceptFileTypes.test(data.files[0]['type'])) {
                        showErrorMsg('请上传图片!');
                        return;
                    }

                    data.submit();
                },
                done: function (e, data) {
                    var json = data.result;
                    uploadSuccessCallback(json);
                }
            });

            var uploadSuccessCallback = function (json) {
                var html = '<div class="col-sm-1 text-center picId" id="div_' + json.id + '" data-id="' + json.id + '">';
                html += '<span class="thumbnail">';
                html += '<img src="' + json.imgPath + '" width="100" height="100">';
                html += '<button class="btn btn-xs mt10 btn-danger" onclick="doRemoveImg(' + json.id + ')">删除</button>';
                html += '</span></div>';
                $('#imgLst').append(html);
                computeIds();
            };
            var doRemoveImg = function (id) {
                var div = $('#div_' + id);
                if (div) {
                    div.remove();
                }
                computeIds();
            };

            var computeIds = function () {
                var idArr = [];
                $('.picId').each(function (index, ele) {
                    idArr.push($(ele).attr('data-id'));
                });
                $("#PicAttIds").val(idArr.join(','));
                delete idArr; idArr = null;
            };
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.Title</h5>
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    <a class="close-link"> <i class="fa fa-times"></i> </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" id="saveForm">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片：</label>
                        <div class="col-sm-11">
                            <div class="row">
                                @Html.HiddenFor(m => m.PicAttIds)
                                <div class="col-sm-1">
                                    <span class="btn btn-success fileinput-button">
                                        <span>添加商品图片</span>
                                        <input type="file" multiple accept="image/*" name="Filedata" id="btnAddFile">
                                    </span>
                                </div>
                                <div id="imgLst">
                                    @foreach (var picId in picIdArr)
                                    {
                                        <div class="col-sm-1 text-center picId" id="div_@picId" data-id="@picId">
                                            <span class="thumbnail">
                                                <img src="@Url.ThumbUrl(picId, 100, 100, "/Res/admin/img/logo.jpg")" width="100" height="100">
                                                <button class="btn btn-xs mt10 btn-danger" onclick="doRemoveImg(@picId)">删除</button>
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">标题：</label>
                        <div class="col-sm-11">
                            <input type="text" name="Title" value="@Model.Title" class="form-control" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">状态：</label>
                        <div class="col-sm-3">
                            @Html.RadioButtonList("Status", ProductStatus.OnSale.GetSList(), Model.Status)
                        </div>
                        <label class="col-sm-1 control-label">库存：</label>
                        <div class="col-sm-3">
                            <input type="text" name="Stock" value="@Model.Stock" class="form-control" />
                        </div>
                        <label class="col-sm-1 control-label">排序：</label>
                        <div class="col-sm-3">
                            <input type="text" name="Sort" value="@Model.Sort" class="form-control" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">单位：</label>
                        <div class="col-sm-5">
                            <input type="text" value="@Model.Unit" data-provide="typeahead" data-show-hint-on-focus="true" name="Unit" required data-source='@Model.LstUnit' autocomplete="off" placeholder="请输入单位" class="form-control" />
                        </div><label class="col-sm-1 control-label">标记：</label>
                        <div class="col-sm-3">
                            @Html.RadioButtonList("Tag", ProductTag.None.GetSList(), Model.Tag)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">价格：</label>
                        <div class="col-sm-5">
                            <input type="text" name="Price" value="@Model.Price" class="form-control" />
                        </div>
                        <label class="col-sm-1 control-label">原价：</label>
                        <div class="col-sm-5">
                            <input type="text" name="OldPrice" value="@Model.OldPrice" class="form-control" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">商户：</label>
                        <div class="col-sm-5">
                            @Html.HiddenFor(m => m.ShopId)
                            <input type="text" name="ShopName" value="@Model.ShopName" autocomplete="off" id="txtShopName" placeholder="请输入商户名称搜索" class="form-control" />
                        </div>
                        <label class="col-sm-1 control-label">商品分组：</label>
                        <div class="col-sm-5">
                            <input type="text" name="ProductClassifyName" autocomplete="off" id="txtProductClassifyName" value="@Model.ProductClassifyName" class="form-control" />
                            @Html.HiddenFor(m => m.ProductClassifyId)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">商品规格：</label>
                        <div class="col-sm-11">
                            <button type="button" class="btn btn-w-m btn-primary" id="btnAdd">添加规格</button>
                        </div>
                        <label class="col-sm-1 control-label">
                            @Html.HiddenFor(m => m.SpecsJson)
                        </label>
                        <div class="col-sm-11" id="specsList">
                            @if (Model.LstSpecs != null && Model.LstSpecs.Count() > 0)
                            {
                                foreach (var specs in Model.LstSpecs)
                                {
                                    <div class="row pt10">
                                        <div class="col-sm-5">
                                            <input type="text" value="@specs.Name" data-provide="typeahead" data-show-hint-on-focus="true" name="SpecsName" required data-source='@Model.LstSysSpecs' autocomplete="off" placeholder="请输入规格名称" class="form-control SpecsName" />
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" value="@specs.SpecsValue" placeholder="请输入规格值" name="SpecsValue" required class="form-control SpecsValue" />
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-w-m btn-danger removeSpecs">删除</button>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">描述：</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" name="Descript" id="Descript" placeholder="描述">@Model.Descript</textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-11 col-sm-offset-2">
                            <a class="btn btn-white" href="@ViewBag.ReUrl">返回</a>
                            <button class="btn btn-primary" type="button" id="btnSave">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row pt10" hidden id="divSpecsTemplate">
    <div class="col-sm-5">
        <input type="text" data-provide="typeahead" data-source='@Model.LstSysSpecs' data-show-hint-on-focus="true" name="SpecsName" autocomplete="off" placeholder="请输入规格名称" class="form-control SpecsName" required />
    </div>
    <div class="col-sm-5">
        <input type="text" placeholder="请输入规格值" class="form-control SpecsValue" name="SpecsValue" required />
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-w-m btn-danger removeSpecs">删除</button>
    </div>
</div>