@{
    var configRep = DependencyResolver.Current.GetService<ISysConfigRepository>();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-Steven的个人Blog</title>
    <link href="/Res/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Res/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Res/admin/css/animate.css" rel="stylesheet">
    <link href="/Res/admin/css/style.css" rel="stylesheet">
    @RenderSection("headCss", required: false)
</head>
<body class="no-skin-config wrapper wrapper-content  animated fadeInRight blog">
    <section id="features" class="container services">
        <div class="row">
            @RenderBody()
        </div>
    </section>

    <div class="footer">
        <div class="pull-right">
            <strong>@configRep.WebSiteName</strong>
        </div>
        <div>
            @Html.Raw(configRep.WebSiteCopyRight)
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/Res/admin/js/jquery-3.1.1.min.js"></script>
    <script src="/Res/admin/js/bootstrap.min.js"></script>
    <script src="/Res/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Res/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="/Res/admin/js/inspinia.js"></script>
    <script src="/Res/admin/js/plugins/pace/pace.min.js"></script>
    @RenderSection("footJs", false)
</body>
</html>
