@model Pager<Product>
<script>
    total=@Model.total;
    var totalPage = Math.ceil(total / limit);

    $("#pagination").pagination({
        currentPage: currPage,
        totalPage: totalPage,
        isShow: false,
        count: 4,
        prevPageText: "< 上一页",
        nextPageText: "下一页 >",
        callback: function (current) {
            currPage = current;
            loadPager();
        }
    });

    $(document).ready(function () {
        $('#lstProduct .i-checks').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
        });
    });
</script>
@if (Model.total == 0)
{
    <!--暂无商品 end-->
      <div class="no-goods">
           <p>您还没有添加商品哦~</p>
           <button onclick="doEdit(0)" class="function blue w300 h50 mt20">新建商品</button>
      </div>
      <!--暂无商品 end-->
}
@foreach (var item in Model.rows)
{
    var picArr = StringUtility.ConvertToBigIntArray(item.PicAttIds, ',');
    <li class="clearfix">
        @if (item.Status == ProductStatus.UnSale)
        {
            <div class="sold-out">已下架</div>
        }
        <div class="left">
            <div class="choose"><input type="checkbox" name="cbxPro" value="@item.Id" class="i-checks"></div>
            <div class="pic"><img src="@Url.ThumbUrl(picArr[0],100,100,"/Res/shop/img/test/100x100-1.jpg")" alt=""></div>
            <div class="text">
                <p>
                    @item.Title
                </p>
                <a a href="javascript:;" class="price">￥@item.Price</a><a href="javascript:;" class="cost">￥@item.OldPrice</a>
                <div class="tips clearfix">
                    <span>库存：@item.Stock</span>@if (item.Stock < 10)
                    {
                        <i>库存不足</i>
                    }
                    <span>序号：@item.Sort</span>
                </div>
            </div>
        </div>
        <div class="right">
            <button onclick="doEdit(@item.Id)" class="function white">编辑</button>
            <button onclick="doDele('@item.Title',@item.Id)" class="function white">删除</button>
        </div>
    </li>
}