@model ProductIndexModel
@{
    ViewBag.Title = "商品管理";
    ViewBag.MenuIndex = 1;
}
@section headCss{
    @Styles.Render("~/Res/admin/css/plugins/iCheck/skins/beilin/css-bundle")
}
@section footJs{
    @Scripts.Render("~/shop/pagination")
    <!-- iCheck -->
    <script src="/Res/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(".group-a").hover(function () {
            $(this).find(".group-list").show();
        }, function () {
            $('.group-list').hide();
        });
        $(".greys").click(function () {
            $(".group-list").hide();
        });

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
            });
        });

        $('#btnCbkAll').on('ifChanged', function (event) {
            if (this.checked) {
                $("input[name='cbxPro']:checkbox").each(function () { $(this).iCheck('check') });
                $('.select-all').addClass('cur');
            } else {
                $("input[name='cbxPro']:checkbox").each(function () { $(this).iCheck('uncheck') });
                $('.select-all').removeClass('cur');
            }
        });

        $('.nav a').click(function () {
            $('.nav a').removeClass('cur');
            $(this).addClass('cur');
            clzId = $(this).attr('data-id');
            currPage = 1;
            loadPager();
        });
        /*客服经理*/
        $(".call .pic").hover(function () {
            $(".call .tel").show();
        }, function () {
            $('.call .tel').hide();
        });
    </script>
    <script>
        var limit = 8;
        var currPage = 1;
        var lstUrl = '@Url.Action("_ProductList")';
        var total = 1;
        var clzId = '';
        var loadPager = function () {
            var offset = (currPage - 1) * limit;
            if (offset > total) {
                showMsg('没有更多数据了！');
                return;
            }
            var url = lstUrl + "?offset=" + offset + "&limit=" + limit + "&clzId=" + clzId;

            $("#lstProduct").load(url, function () {
                //判断当前数据

            });
        };
        loadPager();
    </script>
    @*编辑*@
    <script>
        var editUrl = '@Url.Action("Edit")';
        var doEdit = function (id) {
            window.location = editUrl + '?id=' + id + '&reUrl=' + encodeURIComponent(window.location);
        };

    </script>
    @*删除*@
    <script>
        var doDele = function (title, id) {
            showConfirm('确定要删除商品【' + title + '】吗？', function () {
                doBatchDele(id, function (result) {
                    loadPager();
                    hideConfim();
                });
            });
        };
    </script>
    @*批量操作*@
    @BatchDeleteHelper.ShopBatchDele(Url.Action("BatchDele"));
    <script>
        var selectCount = 0;
        var getChecked = function () {
            selectCount = 0;
            var idArr = [];
            $("input[name='cbxPro']:checkbox").each(function () {
                if (true == $(this).is(':checked')) {
                    idArr.push($(this).val());
                }
            });
            var ids = idArr.join(',');
            selectCount = idArr.length;
            delete idArr; idArr = null;
            return ids;
        };

        var batchModify = function (url, data) {
            if (selectCount == 0) {
                showErrorMsg("请选择商品！");
                return;
            }
            $.ajax({
                url: url,
                type: "Post",
                data: data,
                success: function (result) {
                    if (result.code != 1) {
                        //错误
                        showErrorMsg(result.msg);
                        return;
                    }
                    $('#btnCbkAll').iCheck('uncheck');
                    $('.select-all').removeClass('cur');
                    showSuccMsg(result.msg);
                    hideConfim();
                    loadPager();
                },
            });
        };

        var batchStatus = function (op, status) {
            var ids = getChecked();
            if (selectCount == 0) {
                showErrorMsg("请选择商品！");
                return;
            }
            showConfirm('确定要将所选的' + selectCount + '件商品' + op + '吗？', function () {
                var data = { status: status, ids: ids };
                batchModify('@Url.Action("BatchStatus")', data);
            });

        };

        var batchDele = function () {
            var ids = getChecked();
            if (selectCount == 0) {
                showErrorMsg("请选择商品！");
                return;
            }
            showConfirm('确定要删除所选' + selectCount + '件商品吗？', function () {
                doBatchDele(ids, function (result) {
                    loadPager();
                    hideConfim();
                });
            });
        };

        var getSelectClzId = function () {
            var id = '';
            $("input[name='productClassify']:radio").each(function (index, ele) {
                if (true == $(ele).is(':checked')) {
                    id = $(ele).val();
                }
            });
            return id;
        };

        var batchClassify = function () {
            var clzId = getSelectClzId();
            if (!clzId) {
                showErrorMsg("请选择需要分组！");
                return;
            }
            var ids = getChecked();
            var data = { clzId: clzId, ids: ids };
            batchModify('@Url.Action("BatchClassify")', data);
        };

    </script>
}
<div class="wrapper wrapper-content animated fadeInLeft content">
    <div class="box-set box-b">
        <!--头部菜单-->
        <div class="row">
            @Html.Partial("_ProductManageMenu", 0)
        </div>
        <div class="wrap-box">

            <div class="list">
                <button onclick="doEdit(0)" class="function blue">新建商品</button>
                <a href="javascript:;" class="function white select-all">
                    <label><input type="checkbox" class="i-checks" id="btnCbkAll"><span>全选</span></label>
                </a>
                <button class="function white tel-btn" onclick="batchStatus('上架', '@ProductStatus.OnSale')">上架</button>
                <button class="function white tel-btn" onclick="batchStatus('下架', '@ProductStatus.UnSale')">下架</button>
                <button class="function white tel-btn group-a">
                    改分组
                    <div class="group-list">
                        <div class="sanjiao">
                            <img src="/Res/shop/img/icon-sj.png" alt="">
                        </div>
                        @if (Model.LstClassify == null || Model.LstClassify.Count() == 0)
                        {
                        <!--暂无分组-->
                            <div class="no-group">
                                <span class="group-l">暂无分组</span>
                                <a href="@Url.Action("ClassifyList", new {op = "add"})" class="group-r">添加分组</a>
                            </div>
                        }
                        else
                        {
                            <dl>
                                @foreach (var item in Model.LstClassify)
                                {
                                    <dd><label><input type="radio" class="i-checks" name="productClassify" value="@item.Id"> @item.Name</label></dd>
                                }
                            </dl>
                        }
                        <div class="btn-1">
                            <input type="button" onclick="batchClassify()" value="确认" class="btn-btn w60 blues" />
                            <input type="button" value="取消" class="btn-btn w60 greys" />
                        </div>
                    </div>
                </button>
                <button class="function white" onclick="batchDele()">删除</button>
            </div>
        </div>
        <!--头部菜单 end-->
        <!--内容-->
        <div class="box-a">
            <!--菜单-->
            <div class="nav clearfix">
                <ul class="clearfix">
                    <li><a href="@Url.Action("Index")" class="cur" data-id="">全部</a></li>
                    @foreach (var item in Model.LstClassify)
                    {
                        <li><a href="javascript:;" data-id="@item.Id">@item.Name</a></li>
                    }
                </ul>
            </div>
            <!--菜单end-->
            <!--列表-->
            <div class="main">
                <ul id="lstProduct"></ul>

                <!--翻页-->
                <div class="box-page">
                    <div id="pagination" class="page"></div>
                </div>

            </div>
            <!--列表end-->

        </div>
        <!--内容end-->
    </div>
</div>