@model IEnumerable<SysPartner>
@{
    ViewBag.Title = "响应式网站开发_小程序开发_APP开发　北琳网络有限公司-致力于在互联网领域构建全新的合作和服务新体系!";
}
@section headCss{
    <link rel="stylesheet" type="text/css" href="/Res/global/js/lib/swiper3.4/swiper.css">
}
@section footJs{
    <script src="/Res/global/js/lib/swiper3.4/swiper.js"></script>

    <script type="text/javascript">

        $(document).ready(function (e) {
            var mySwiper = new Swiper('.swiper-container', {
                autoplay: 3000,
                speed: 1000,
                pagination: '.pagination-a',
                slidesPerView: 3,
                paginationClickable: true,
                spaceBetween: 10,
            });


            var swipers = new Swiper('.swiper-banner', {
                autoplay: 3000,
                speed: 1000,
                pagination: '.pagination-c',
            });


            var swiper = new Swiper('.sliding-zc', {
                autoplay: 3000,
                speed: 1000,
                pagination: '.pagination-b',
                slidesPerView: 6,
                slidesPerColumn: 2,
                paginationClickable: true,
                spaceBetween: 10,
            });



            var win = function () {
                var w = $(window).width();
                if (w > 1200) {
                    swiper.params.slidesPerView = 6;
                    swiper.update();

                    mySwiper.params.slidesPerView = 3;
                    mySwiper.update();
                };
                if (w <= 1200) {
                    swiper.params.slidesPerView = 3;
                    swiper.update();
                };
                if (w <= 640) {
                    swiper.params.slidesPerView = 2;
                    swiper.update();

                    mySwiper.params.slidesPerView = 1;
                    mySwiper.update();



                };
            }
            win();
            $(window).resize(function () {
                win();
            });

        });


        $(".wrap-3 .list .info a").hover(function () {
            $(".wrap-3 .list .detail").show();
        }, function () {
            $(".wrap-3 .list .detail").hide();

        });



        $(".wrap-5 .list a.wechat").hover(function () {
            $(".wrap-5 .list a .ewm").show();
        }, function () {
            $('.wrap-5 .list a .ewm').hide();
        });


        /*手机下的导航*/
        $(".fun").click(function () {
            $(".tel-nav .list").show();
        });

        $(".close").click(function () {
            $('.tel-nav .list').hide();
        });


    </script>
    <!-- 故事 -->
    <script>
        $(document).ready(function() {
            var PhotoBox = new Swiper('.other-gs', {
                autoplay: 3000,
                speed: 1000,
                direction: 'horizontal',
                //是否循环
                loop: true,
                // 如果需要分页器
                pagination: '.j-page2',
                paginationClickable: true,
                //布局
                slidesPerView: 'auto',
                //允许鼠标滚轮翻页
                mousewheelControl: true,

            });

            $('.other-gs .item img').click(function() {
                var alt = $(this).attr("alt");
                var bigImg = $(this).data("bigimg");
                var name = $(this).data("name");
                var post = $(this).data("post");
                $('.detail-box .pic img').attr("src", bigImg);
                $('.detail-box p').text(alt);
                $('.detail-box i').text(name);
                $('.detail-box em').text(post);
                $('.detail-box').fadeIn(200);

            });


            $('.close').click(function() {
                $('.detail-box').fadeOut();

            });


        });


        /* 回到顶部*/
        $('.back').click(function () {
            $('html,body').stop();
            $('html,body').animate({
                scrollTop: '0px'
            }, 500);
        });

        //回到顶部的 显示 隐藏代码  	
        $(".back").hide();
        // fade in #back-top  
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 1000) {
                    $('.back').fadeIn();
                } else {
                    $('.back').fadeOut();
                }
            });

            // scroll body to 0px on click  
            $('.back').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 'fast');
                return false;
            });
        });


    </script>
}
<!-- 菜单 -->
<div class="shortcut">
    <div class="back"><a href="javascript:;" target="_self">Top</a></div>
</div>
<!-- 菜单 -->

<!-- header -->
<header class="header">
    <div class="logo"><a href="@Url.Home()"><img src="/Res/home/index/images/logo.png" alt=""></a></div>
    <div class="nav">
        <a href="#serve">服务</a>
        <a href="#story">关于</a>
        <a href="@Url.Action("Case")">案例</a>
        <a href="#link-us">联系</a>
        <a href="/Shop/Home/Index" class="login" target="_blank">商户登录</a>
    </div>

    <div class="tel-nav">
        <div class="fun"><a href="javascript:;"><img src="/Res/home/index/images/icon-nav.png" alt=""></a></div>
        <div class="tel-logo"><a href="@Url.Home()"><img src="/Res/home/index/images/tel-logo.png" alt=""></a></div>
        <div class="list">
            <div class="close"><a href="javascript:;"><img src="/Res/home/index/images/icon-clos.png" alt=""></a></div>
            <div class="navs">
                <a href="#serve">服务</a>
                <a href="#story">关于</a>
                <a href="@Url.Action("Case")">案例</a>
                <a href="#link-us">联系</a>
                <a href="/Shop/Home/Index" class="login" target="_blank">商户登录</a>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
<!--banner图-->
<div class="swiper-banner" id="function">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="wrap-info">
                <a href="javascript:;"><img src="/Res/home/index/images/banner-1.jpg" alt=""></a>
                <div class="text">
                    <h1>看看我们能做什么</h1>
                    <p>响应式网站开发 >　　<a href="@Url.Action("MiniApp")">小程序开发 ></a>　　APP开发</p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="wrap-info">
                <a href="@Url.Action("MiniApp")"><img src="/Res/home/index/images/banner-2.jpg" alt=""></a>
                <div class="text">
                    <h1>北琳小程序</h1>
                    <p><a href="@Url.Action("MiniApp")">5分钟拥有你的第一个小程序 ></a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="pagination-c case-pages"></div>

</div>


<!--banner图 end-->
<!-- 我们的服务 -->
<div class="wrap-2" id="serve">
    <div class="title-a">我们的服务</div>
    <div class="tel-list">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="tel-info">
                        <div class="pic"><img src="/Res/home/index/images/server-1.png" alt=""></div>
                        <div class="text">
                            <h1>响应式网站</h1>
                            <p>响应式布局适用于企业官网、新闻类网站、行业产品展示网站等。其最大优势在于能兼容各种设备，为企业网站节省建设成本；而对于响应式，任何终端设备都可以给访问者带来最好的用户体验，用户满意，企业就会有更多商机。</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <!-- 小程序 -->
                    <div class="tel-info">
                        <div class="pic"><img src="/Res/home/index/images/server-2.png" alt=""></div>
                        <div class="text">
                            <h1>小程序开发</h1>
                            <p>轻巧的微信小程序适用于：偏工具的内容型产品、日常工具类产品、社区类产品、创业者进行MVP产品形式的探索。小程序和APP功能相似，但是开发费用相差甚远，并且维护成本较低，运营推广也更容易更简单。</p>
                        </div>
                    </div>
                    <!-- 小程序 end-->
                </div>

                <div class="swiper-slide">
                    <!-- app -->
                    <div class="tel-info">
                        <div class="pic"><img src="/Res/home/index/images/server-3.png" alt=""></div>
                        <div class="text">
                            <h1>App开发</h1>
                            <p>APP开发适用于众多B2C行业及领域，如：餐饮类、休闲类、医疗类、教育类企业等。相比传统的广告方式，APP开发能够降低广告成本，宣传效果更佳，同时APP应用能让企业与用户保持来往，更容易提升客户的粘度和满意度。</p>
                        </div>
                    </div>
                    <!-- app end-->
                </div>

            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="pagination-a case-page"></div>
    </div>
</div>
<!-- 我们的服务 end-->
<!-- 故事-->
<div class="wrap-3" id="story">
    <div class="title-a">故事还长</div>
    <div class="list">
        <!-- sliding -->
        <div class="other-gs">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-1.jpg" data-name="elma" data-post=" · 产品运营经理" src="/Res/home/index/images/test/pic-1.jpg" alt="运营像是一盏灯，我们会调整灯光的角度，亮度与颜色，展现产品迷人的风彩，让更多人享受它的美。" /><span>elma</span></div>
                </div>


                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-2.jpg" data-name="cayla" data-post=" · 高级测试工程师" src="/Res/home/index/images/test/pic-2.jpg" alt="今天是否成功取决于昨天的态度，今天的态度决定了明天是否成功。" /><span>cayla</span></div>
                </div>



                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-3.jpg" data-name="Jadee" data-post=" · 内容运营编辑"src="/Res/home/index/images/test/pic-3.jpg" alt="创造力其实就是一种能打破陈规，跨界＋想象的能力。" /><span>Jadee</span></div>
                </div>



                <div class="swiper-slide">
                    <div class="item">
                        <img data-bigimg="/Res/home/index/images/test/pic-4.jpg" data-name="Jackie" data-post=" · 执行总监" src="/Res/home/index/images/test/pic-4.jpg" alt="机会不靠等，找北琳就有；
梦一定要有，我们帮你实现！" /><span>Jackie</span>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-5.jpg" data-name="Leo" data-post=" · 商务拓展经理" src="/Res/home/index/images/test/pic-5.jpg" alt="相信自己，一切皆有可能。" /><span>Leo</span></div>
                </div>



                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-10.jpg" data-name="Moyi" data-post=" · 高级前端开发工程师" src="/Res/home/index/images/test/pic-10.jpg" alt="专注web前端开发,关注用户体验" /><span>Moyi</span></div>
                </div>




                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-7.jpg" data-name="Bobo" data-post=" · UI设计师" src="/Res/home/index/images/test/pic-7.jpg" alt="不做总统，就做设计师" /><span>Bobo</span></div>
                </div>

                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-6.jpg" data-name="Yalena" data-post=" · 财务总监" src="/Res/home/index/images/test/pic-6.jpg" alt="没有灯的小路一样可以行走，只要心还在。" /><span>Yalena</span></div>
                </div>


                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-08.jpg" data-name="Steven" data-post=" · 高级研发工程师" src="/Res/home/index/images/test/pic-08.jpg" alt="没有需求或设计，编程就是一种将 bug 添加到一个空文本文件里的艺术。" /><span>Steven</span></div>
                </div>



                <div class="swiper-slide">
                    <div class="item">
                        <img data-bigimg="/Res/home/index/images/test/pic-9.jpg" data-name="Winni" data-post=" · 产品经理" src="/Res/home/index/images/test/pic-9.jpg" alt="勿忘初心，方得始终；
努力追求，终能成长。" /><span>Winni</span>
                    </div>
                </div>



                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-11.jpg" data-name="Martin" data-post=" · 高级研发工程师" src="/Res/home/index/images/test/pic-11.jpg" alt="一个被程序员事业耽误的灵魂歌者！" /><span>Martin</span></div>
                </div>




                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-13.jpg" data-name="Kant" data-post=" · 高级研发工程师" src="/Res/home/index/images/test/pic-13.jpg" alt="真的勇士，敢于直面惨淡的warning、敢于正视淋漓的error。" /><span>Kant</span></div>
                </div>

                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-14.jpg" data-name="Jason" data-post=" · 高级用户运营" src="/Res/home/index/images/test/pic-14.jpg" alt="网站走上正轨道， 别神气也别骄傲。 一步一步往前跑， 流量会变成钞票。" /><span>Jason</span></div>
                </div>


                <div class="swiper-slide">
                    <div class="item">
                        <img data-bigimg="/Res/home/index/images/test/pic-12.jpg" data-name="Linda
" data-post=" · 视觉设计师" src="/Res/home/index/images/test/pic-12.jpg" alt="现在最重要的不是感叹过去，而是改变面向未来的姿态。" /><span>Linda</span>
                    </div>
                </div>



                <div class="swiper-slide">
                    <div class="item">
                        <img data-bigimg="/Res/home/index/images/test/pic-15.jpg" data-name="Sisi
" data-post=" · 前端开发工程师" src="/Res/home/index/images/test/pic-15.jpg" alt="一入前端深似海，从此红尘是路人！" /><span>Sisi</span>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="item"><img data-bigimg="/Res/home/index/images/test/pic-16.jpg" data-name="Michelle" data-post=" · 品牌商务经理" src="/Res/home/index/images/test/pic-16.jpg" alt="Learn from yesterday, live for today, hope for tomorrow." /><span>Michelle</span></div>
                </div>

            </div>

            <!-- show box -->
            <div class="detail-box">
                <div class="pic"><img src="#" alt=""></div>
                <a href="javascript:;" class="close"><img src="/Res/home/index/images/icon_close.png" alt=""></a>
                <div class="text">
                    <div class="bg"><img src="/Res/home/index/images/icon-left.png" alt=""></div>
                    <p>--</p>
                    <div class="tip"><i>--</i><em>--</em></div>
                </div>
            </div>
            <!-- show box -->

        </div>
        <!-- sliding end -->
    </div>
    <div class="text-a">南宁北琳网络有限公司成立于2005年，隶属于（美国）海遇国际教育网络公司，是集团公司主要的技术研发机构。北琳网络早期主要服务于集团公司的内部平台网站和网络产品建设，包括美国房产信息搜索网站<a href="http://mls.com/" target="_blank">MLS.COM</a> 、国内姐妹网站<a href="http://www.mls.cn/" target="_blank">MLS.CN</a> 、海遇教育留学平台<a href="http://www.hielites.com/" target="_blank">HIELITES.COM</a>等国际著名品牌网站。经过十几年的发展，北琳网络已从提供网站技术支援的服务机构成长为具备国际优秀网站平台和软件的方案开发、产品研发、维护、运营支持等全方位服务于一身的互联网综合技术研发机构。</div>
</div>
<!-- 故事 end-->
<!-- 合作 -->
<div class="wrap-4" id="teamwork">
    <div class="title-a">合作伙伴</div>
    <div class="list">
        <div class="sliding-zc">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="info">
                            <div><a href="@item.PartnerUrl" target="_blank"><img src="@Url.ThumbUrl(item.PicAttaId,170,50)" alt=""></a></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- 如果需要分页器 -->
        <div class="pagination-b case-page"></div>
    </div>
</div>
<!-- 合作 end-->
