@model IEnumerable<Article>
@{
    ViewBag.Title = "Asp.Net DDD架构浅谈";
}
@section headCss{

}
@section footJs{

}

<div class="row">
    <div class="col-lg-4">
        @foreach (var item in Model)
        {
            <div class="ibox">
                <div class="ibox-content">
                    <a href="@Url.Action("Detail",new { id=item.ArticleIndex})" class="btn-link">
                        <h2>
                            @item.Title
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>@item.Author</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> @item.ArticleDateTime.ToDisplayDateTime()</span>
                    </div>
                    <p>
                        @item.Brief
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>分类:</h5>
                            <button class="btn btn-primary btn-xs" type="button">@item.ClassifyName</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>阅读量:</h5>
                                <i class="fa fa-eye"> </i> @item.ViewCount 次
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>