@{
    ViewBag.Title = "配置管理";
    AdminUser user = ViewBag.CurrUser;
}
@section headCss{
    <link href="~/Res/admin/js/plugins/boostrap-table/bootstrap-table.css" rel="stylesheet" />

}
@section footJs{
    <script src="~/Res/admin/js/plugins/boostrap-table/bootstrap-table.js"></script>
    <script src="~/Res/admin/js/plugins/boostrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/Res/admin/js/datefommater.js"></script>
    @BoostrapTableHelper.InitTable("datatable", Url.Action("GetSysConfigList"))
    @BatchDeleteHelper.InitBatchDele(this, TableSource.SysConfig, "datatable");

    <script>
        var searchQuery = function (params) {
            var q = $('#txtKeyword').val();
            if (q) {
                params.keyword = q;
            }
            var clz = $('#SysConfigClassify').val();
            if (clz) {
                params.clz = clz;
            }
            return params;
        };

        $('#btnSearch').click(function () {
            $('#datatable').bootstrapTable('refreshOptions', {
                pageNumber: 1
            });
        });

        var editUrl = '@Url.Action("SysConfigEdit")';
        var doEdit = function (id) {
            window.location = editUrl + '?id=' + id + '&reUrl=' + encodeURIComponent(window.location);
        };

        $('#btnAdd').click(function () {
            doEdit(0);
        });

        function editFormatter(value, row) {
             @if (user.HasButton(SysButton.Edit))
             {
                 @:return '<button class="btn-white btn  btn-xs" onClick="doEdit(' + value + ')"><i class="fa fa-edit"></i> 编辑</button>';
             }
             else {
                 @:return '';
             }
        };


    </script>
    <script src="@Url.Action("SysConfigClassifyFormatter","Utility")"></script>
    <script src="@Url.Action("SysConfigTypeFormatter","Utility")"></script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.Title</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row" id="toolBar">
                    <div class="col-lg-2">
                        <label for="" class="">关键字</label>
                        <input type="text" class="form-control" placeholder="请输入标题" id="txtKeyword" name="keyword">
                    </div>

                    <div class="col-lg-2">
                        <label for="" class="">分类</label>
                        @Html.DropDownList("SysConfigClassify", SysConfigClassify.Home.GetSList(), "全部", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-primary mt20" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>
                    </div>

                </div>
                <hr class="hr-line-dashed">
                <div class="row">
                    <div class="col-lg-12">
                        @if (user.HasButton(SysButton.Edit))
                        {
                            <button type="button" class="btn btn-w-m btn-primary" id="btnAdd">新建</button>
                        }
                        @if (user.HasButton(SysButton.Delete))
                        {
                            <button type="button" onclick="doBathDele()" class="btn btn-w-m btn-danger">批量删除</button>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="jqGrid_wrapper">
                        <table id="datatable">
                            <thead>
                                <tr>
                                    <th data-checkbox="true"></th>
                                    <th data-field="ConKey" data-sortable="true">Key</th>
                                    <th data-field="Name" data-sortable="true">名称</th>
                                    <th data-field="ConfigType" data-sortable="true" data-formatter="SysConfigTypeFormatter">类型</th>
                                    <th data-field="ConfigClassify" data-sortable="true" data-formatter="SysConfigClassifyFormatter">分类</th>
                                    <th data-field="UpdateTime" data-sortable="true" data-formatter="dateTimeFormatter">更新时间</th>
                                    <th data-field="Id" data-formatter="editFormatter">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>